Repository Azure/autorest.csharp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @ronniegeraghty, @AlexanderSher, @lirenhe, @chunyu3, @m-nash, @allenjzhang

.github/CODEOWNERS:

################
# Automation
################

# Git Hub bot rules
/.github/CODEOWNERS                           @jsquire @ronniegeraghty
/.github/fabricbot.json                       @jsquire @ronniegeraghty

#####################
# Code Generation
#####################

# Catch all
*                                              @AlexanderSher @lirenhe @chunyu3 @m-nash

# Management CSharp CodeReviewers
/samples/Azure.Management.Storage/             @allenjzhang @m-nash
/samples/Azure.Network.Management.Interface/   @allenjzhang @m-nash
/samples/Azure.ResourceManager.*/              @allenjzhang @m-nash
/src/AutoRest.CSharp/Mgmt/                     @allenjzhang @m-nash
/src/AutoRest.CSharp/Common/                   @allenjzhang @m-nash
/test/AutoRest.TestServer.Tests/Mgmt/          @allenjzhang @m-nash

upgrade cadl-azure library version
  package-lock.json
  package.json
  src/CADL.Extension/Emitter.Csharp/package.json
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

fix an issue found in eventgrid
  src/AutoRest.CSharp/Mgmt/AutoRest/MgmtOutputLibrary.cs
  src/AutoRest.CSharp/Mgmt/Decorator/ParentDetection.cs
  src/AutoRest.CSharp/Mgmt/Decorator/SingletonDetection.cs
  src/AutoRest.CSharp/Mgmt/Output/Resource.cs
  src/AutoRest.CSharp/Mgmt/Output/ResourceCollection.cs
Owners: @allenjzhang, @m-nash

update Lro-Basic-Cadl
  test/TestProjects/Lro-Basic-Cadl/Lro-Basic-Cadl.cadl
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

update CadlRanchTestProject.Test
  test/AutoRest.TestServerLowLevel.Tests/lro.cs
  test/CadlRanchProjects.Tests/property-types.cs
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

Export dll path
  src/AutoRest.CSharp/index.d.ts
  src/AutoRest.CSharp/index.mjs
  src/AutoRest.CSharp/package.json
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

Make codegen one command
  src/CADL.Extension/Emitter.Csharp/src/emitter.ts
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

update package-lock.json
  package-lock.json
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

final fixes for v1
  src/AutoRest.CSharp/Common/Generation/Writers/CodeWriterExtensions.cs
  src/AutoRest.CSharp/Common/Generation/Writers/DocumentationWriterExtensions.cs
  src/AutoRest.CSharp/Common/Generation/Writers/ModelWriter.cs
  src/AutoRest.CSharp/Common/Generation/Writers/SerializationWriter.cs
  src/AutoRest.CSharp/Common/Output/Models/MethodSignature.cs
  src/AutoRest.CSharp/Common/Output/Models/MethodSignatureBase.cs
  src/AutoRest.CSharp/Common/Output/Models/Shared/Parameter.cs
  src/AutoRest.CSharp/Common/Output/Models/Types/ModelMethodDefinition.cs
  src/AutoRest.CSharp/Common/Output/Models/Types/ModelTypeProvider.cs
  src/AutoRest.CSharp/Common/Output/Models/Types/ModelTypeProviderFields.cs
  src/AutoRest.CSharp/Common/Output/Models/Types/ObjectType.cs
  src/AutoRest.CSharp/Common/Output/Models/Types/ObjectTypeProperty.cs
  src/AutoRest.CSharp/Common/Output/Models/Types/SchemaObjectType.cs
  src/AutoRest.CSharp/Common/Output/Models/Types/SystemObjectType.cs
  src/AutoRest.CSharp/Mgmt/Generation/ArmResourceExtensionsWriter.cs
  src/AutoRest.CSharp/Mgmt/Generation/MgmtClientBaseWriter.cs
  src/AutoRest.CSharp/MgmtTest/Extensions/CodeWriterExtensions.cs
  src/AutoRest.CSharp/Properties/launchSettings.json
Owners: @allenjzhang, @m-nash, @AlexanderSher, @lirenhe, @chunyu3

clean up temp changes
  eng/Generate.ps1
  src/AutoRest.CSharp/Properties/launchSettings.json
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

update pagination-Cadl
  test/TestProjects/Pagination-Cadl/Generated/CustomPage.Serialization.cs
  test/TestProjects/Pagination-Cadl/Generated/CustomPage.cs
  test/TestProjects/Pagination-Cadl/Generated/LedgerEntry.Serialization.cs
  test/TestProjects/Pagination-Cadl/Generated/LedgerEntry.cs
  test/TestProjects/Pagination-Cadl/Generated/PaginationClient.cs
  test/TestProjects/Pagination-Cadl/Generated/cadl.json
  test/TestProjects/Pagination-Cadl/Pagination-Cadl.cadl
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

Export dll path (#2771)
  src/AutoRest.CSharp/index.d.ts
  src/AutoRest.CSharp/index.mjs
  src/AutoRest.CSharp/package.json
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

regen after merge
  src/AutoRest.CSharp/Properties/launchSettings.json
  test/CadlRanchProjects/property-types/Generated/cadl.json
  test/TestProjects/Customizations-Cadl/Generated/cadl.json
  test/TestProjects/FirstTest-Cadl/Generated/cadl.json
  test/TestProjects/Lro-Basic-Cadl/Generated/AuthoringClient.cs
  test/TestProjects/Lro-Basic-Cadl/Generated/Error.Serialization.cs
  test/TestProjects/Lro-Basic-Cadl/Generated/Error.cs
  test/TestProjects/Lro-Basic-Cadl/Generated/InnerError.Serialization.cs
  test/TestProjects/Lro-Basic-Cadl/Generated/InnerError.cs
  test/TestProjects/Lro-Basic-Cadl/Generated/OperationState.cs
  test/TestProjects/Lro-Basic-Cadl/Generated/OperationStatusResource.Serialization.cs
  test/TestProjects/Lro-Basic-Cadl/Generated/OperationStatusResource.cs
  test/TestProjects/Lro-Basic-Cadl/Generated/Project.Serialization.cs
  test/TestProjects/Lro-Basic-Cadl/Generated/Project.cs
  test/TestProjects/Lro-Basic-Cadl/Generated/ResourceLocation.Serialization.cs
  test/TestProjects/Lro-Basic-Cadl/Generated/ResourceLocation.cs
  test/TestProjects/Lro-Basic-Cadl/Generated/cadl.json
  test/TestProjects/Models-Cadl/Generated/cadl.json
  test/TestProjects/Pagination-Cadl/Generated/ResourceLocation.cs
  test/TestProjects/Pagination-Cadl/Generated/cadl.json
  test/TestProjects/PetStore-Cadl/Generated/cadl.json
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

Include path parameter to package
  src/AutoRest.CSharp/AutoRest.CSharp.csproj
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

Include path parameter to package (#2775)
  src/AutoRest.CSharp/AutoRest.CSharp.csproj
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

Update
  package-lock.json
  src/CADL.Extension/Emitter.Csharp/package.json
  src/CADL.Extension/Emitter.Csharp/src/emitter.ts
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

One command to call cadl emitter and codegen together (#2772)
  package-lock.json
  src/CADL.Extension/Emitter.Csharp/package.json
  src/CADL.Extension/Emitter.Csharp/src/emitter.ts
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

changes to allow for standalone generator to create proj file for new cadl flow
  src/AutoRest.CSharp/AutoRest.CSharp.csproj
  src/AutoRest.CSharp/CommandLineOptions.cs
  src/AutoRest.CSharp/Common/AutoRest/Communication/StandaloneGeneratorRunner.cs
  src/AutoRest.CSharp/Common/AutoRest/Plugins/CSharpProj.cs
  src/AutoRest.CSharp/Common/AutoRest/Plugins/Configuration.cs
  src/AutoRest.CSharp/Program.cs
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash, @allenjzhang

extensible enum should be rounTrip
  src/CADL.Extension/Emitter.Csharp/src/emitter.ts
  test/CadlRanchProjects/extensible-enums/Generated/DaysOfWeekExtensibleEnum.cs
  test/CadlRanchProjects/extensible-enums/Generated/StringClient.cs
  test/CadlRanchProjects/extensible-enums/Generated/StringClientOptions.cs
  test/CadlRanchProjects/extensible-enums/Generated/cadl.json
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

Add parameter runCodegen
  eng/Generation.psm1
  src/CADL.Extension/Emitter.Csharp/src/emitter.ts
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

update test
  src/CADL.Extension/Emitter.Csharp/samples/CadlFirstTest/Generated/cadl.json
  src/CADL.Extension/Emitter.Csharp/test/TestProjects/enum/Generated/cadl.json
  test/CadlRanchProjects/property-types/Generated/cadl.json
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

Fix issue
  src/CADL.Extension/Emitter.Csharp/src/emitter.ts
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

Fix issue
  eng/Generation.psm1
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

Add parameter skipSDKGeneration (#2777)
  eng/Generation.psm1
  src/CADL.Extension/Emitter.Csharp/src/emitter.ts
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

Add new parameters
  src/CADL.Extension/Emitter.Csharp/src/emitter.ts
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

Fix issue
  src/CADL.Extension/Emitter.Csharp/src/emitter.ts
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

update test
  eng/CadlGenerate.ps1
  src/CADL.Extension/Emitter.Csharp/test/TestProjects/enum/Generated/Configuration.json
  test/CadlRanchProjects/property-types/Generated/InnerExtensibleEnum.cs
Owners: @AlexanderSher, @lirenhe, @chunyu3, @m-nash

add a patch for check name operations
  src/AutoRest.CSharp/Mgmt/Models/MgmtRestOperation.cs
Owners: @allenjzhang, @m-nash

add a new test case
  test/AutoRest.TestServer.Tests/Mgmt/Unit/MgmtRestOperationTests.cs
Owners: @allenjzhang, @m-nash

refactor
  src/AutoRest.CSharp/Mgmt/Models/MgmtRestOperation.cs
Owners: @allenjzhang, @m-nash

some initial changes to the resource matcher
  src/AutoRest.CSharp/Mgmt/AutoRest/MgmtConfiguration.cs
  src/AutoRest.CSharp/Mgmt/Decorator/OperationExtensions.cs
  src/AutoRest.CSharp/Mgmt/Decorator/ScopeDetection.cs
  src/AutoRest.CSharp/Mgmt/Models/MgmtRestOperation.cs
  src/AutoRest.CSharp/Mgmt/Models/RequestPath.cs
  src/AutoRest.CSharp/Mgmt/Models/ResourceTypeSegment.cs
  test/AutoRest.TestServer.Tests/Mgmt/Unit/MgmtRestOperationTests.cs
Owners: @allenjzhang, @m-nash

support scope in resource matching
  src/AutoRest.CSharp/Mgmt/Models/MgmtRestOperation.cs
  test/AutoRest.TestServer.Tests/Mgmt/Unit/MgmtRestOperationTests.cs
Owners: @allenjzhang, @m-nash

a minor refactor
  src/AutoRest.CSharp/Mgmt/Models/MgmtRestOperation.cs
  test/AutoRest.TestServer.Tests/Mgmt/Unit/MgmtRestOperationTests.cs
Owners: @allenjzhang, @m-nash
