Repository Azure/autorest.csharp, pull requests merged in 2022-06, with the labels that each got.

#2252 Add AppendPath override that takes type long.
  src/assets/Generator.Shared/RequestUriBuilderExtensions.cs
  test/AutoRest.Shared.Tests/RawRequestUriBuilderTest.cs
Labels: customer-reported, Community Contribution

#2305 Remark comments
  samples/Azure.AI.DocumentTranslation/Generated/DocumentTranslationClient.cs
  samples/Azure.Analytics.Purview.Account/Generated/PurviewAccountCollections.cs
  samples/Azure.Analytics.Purview.Account/Generated/PurviewAccountResourceSetRules.cs
  samples/Azure.Analytics.Purview.Account/Generated/PurviewAccountsClient.cs
  src/AutoRest.CSharp/LowLevel/Generation/LowLevelClientWriter.cs
  src/assets/Azure.Core.Shared/OperationInternalBase.cs
  src/assets/Azure.Core.Shared/OperationInternalOfT.cs
  test/TestProjects/ProtocolMethodsInRestClient/Generated/FirstTemplateRestClient.cs
  test/TestProjects/ProtocolMethodsInRestClient/Generated/SecondTemplateRestClient.cs
  test/TestProjects/ProtocolMethodsInRestClient/Generated/TestServiceRestClient.cs
  test/TestProjects/RequestContextAllOptional-LowLevel/Generated/RequestContextAllOptionalClient.cs
  test/TestProjects/SecurityDefinition-LowLevel/Generated/SecurityDefinitionClient.cs
  test/TestServerProjectsLowLevel/body-array/Generated/ArrayClient.cs
  test/TestServerProjectsLowLevel/body-complex/Generated/ArrayClient.cs
  test/TestServerProjectsLowLevel/body-complex/Generated/BasicClient.cs
  test/TestServerProjectsLowLevel/body-complex/Generated/DictionaryClient.cs
  test/TestServerProjectsLowLevel/body-complex/Generated/FlattencomplexClient.cs
  test/TestServerProjectsLowLevel/body-complex/Generated/InheritanceClient.cs
  test/TestServerProjectsLowLevel/body-complex/Generated/PolymorphicrecursiveClient.cs
  test/TestServerProjectsLowLevel/body-complex/Generated/PolymorphismClient.cs
  test/TestServerProjectsLowLevel/body-complex/Generated/PrimitiveClient.cs
  test/TestServerProjectsLowLevel/body-complex/Generated/ReadonlypropertyClient.cs
  test/TestServerProjectsLowLevel/body-file/Generated/FilesClient.cs
  test/TestServerProjectsLowLevel/body-string/Generated/EnumClient.cs
  test/TestServerProjectsLowLevel/body-string/Generated/StringClient.cs
  test/TestServerProjectsLowLevel/custom-baseUrl-more-options/Generated/PathsClient.cs
  test/TestServerProjectsLowLevel/custom-baseUrl-paging/Generated/PagingClient.cs
  test/TestServerProjectsLowLevel/custom-baseUrl/Generated/PathsClient.cs
  test/TestServerProjectsLowLevel/dpg-customization/Generated/DPGClient.cs
  test/TestServerProjectsLowLevel/dpg-initial/Generated/ParamsClient.cs
  test/TestServerProjectsLowLevel/dpg-update1/Generated/ParamsClient.cs
  test/TestServerProjectsLowLevel/header/Generated/HeaderClient.cs
  test/TestServerProjectsLowLevel/httpInfrastructure/Generated/HttpClientFailureClient.cs
  test/TestServerProjectsLowLevel/httpInfrastructure/Generated/HttpFailureClient.cs
  test/TestServerProjectsLowLevel/httpInfrastructure/Generated/HttpRedirectsClient.cs
  test/TestServerProjectsLowLevel/httpInfrastructure/Generated/HttpRetryClient.cs
  test/TestServerProjectsLowLevel/httpInfrastructure/Generated/HttpServerFailureClient.cs
  test/TestServerProjectsLowLevel/httpInfrastructure/Generated/HttpSuccessClient.cs
  test/TestServerProjectsLowLevel/httpInfrastructure/Generated/MultipleResponsesClient.cs
  test/TestServerProjectsLowLevel/lro/Generated/LRORetrysClient.cs
  test/TestServerProjectsLowLevel/lro/Generated/LROsClient.cs
  test/TestServerProjectsLowLevel/lro/Generated/LROsCustomHeaderClient.cs
  test/TestServerProjectsLowLevel/lro/Generated/LrosaDsClient.cs
  test/TestServerProjectsLowLevel/paging/Generated/PagingClient.cs
  test/TestServerProjectsLowLevel/url-multi-collectionFormat/Generated/QueriesClient.cs
  test/TestServerProjectsLowLevel/url/Generated/PathItemsClient.cs
  test/TestServerProjectsLowLevel/url/Generated/PathsClient.cs
  test/TestServerProjectsLowLevel/url/Generated/QueriesClient.cs
Labels: LLC, DPG/RLC v1.0

#2392 Update the mgmt. readme
  docs/mgmt/readme.md
Labels: Mgmt, Docs
