Repository Azure/autorest.csharp, pull requests merged in 2024-03, with the labels that each got.

#4336 Replace CachedDictionary with built-in Lazy<IReadOnlyDctionary<TKey, TValue>>
  src/AutoRest.CSharp/Common/Input/SchemaUsageProvider.cs
  src/AutoRest.CSharp/Common/Output/Models/CmcRestClient.cs
  src/AutoRest.CSharp/Common/Output/Models/RestClient.cs
  src/AutoRest.CSharp/Common/Utilities/CachedDictionary.cs
  src/AutoRest.CSharp/DataPlane/AutoRest/DataPlaneOutputLibrary.cs
  src/AutoRest.CSharp/Mgmt/AutoRest/MgmtOutputLibrary.cs
  src/AutoRest.CSharp/Mgmt/AutoRest/MgmtTarget.cs
  src/AutoRest.CSharp/Mgmt/Models/MgmtRestOperation.cs
  src/AutoRest.CSharp/MgmtTest/AutoRest/MgmtTestTarget.cs
  test/AutoRest.TestServer.Tests/CachedDictionaryTests.cs
  test/AutoRest.TestServer.Tests/Mgmt/OutputLibrary/OutputLibraryTestBase.cs
Labels: Mgmt, DPG

#4381 Fix MgmtTestConfiguration loading for local debug
  src/AutoRest.CSharp/MgmtTest/AutoRest/MgmtTestConfiguration.cs
Labels: Mgmt

#4386 Throw on empty ResourceType
  src/AutoRest.CSharp/Mgmt/Generation/MgmtClientBaseWriter.cs
  test/TestProjects/MgmtMockAndSample/specification/mockSwagger/authorization.json
  test/TestProjects/MgmtMockAndSample/src/Generated/CodeModel.yaml
  test/TestProjects/MgmtMockAndSample/src/Generated/RestOperations/RoleAssignmentsRestOperations.cs
  test/TestProjects/MgmtMockAndSample/src/Generated/RoleAssignmentCollection.cs
  test/TestProjects/MgmtMockAndSample/tests/Generated/Mock/RoleAssignmentCollectionMockTests.cs
  test/TestProjects/MgmtMockAndSample/tests/Generated/Samples/Sample_RoleAssignmentCollection.cs
Labels: Mgmt

#4459 Replace LookupDictionary with built-in Dictionary
  src/AutoRest.CSharp/Common/Utilities/LookupDictionary.cs
  src/AutoRest.CSharp/Mgmt/AutoRest/MgmtOutputLibrary.cs
  test/AutoRest.TestServer.Tests/Common/LookupDictionaryTests.cs
Labels: Mgmt

#4418 onboard AzureLocation cadl-ranch test
  eng/testProjects.json
  src/AutoRest.CSharp/Properties/launchSettings.json
  test/CadlRanchProjects.Tests/azure-core-scalar.cs
  test/CadlRanchProjects/azure/core/scalar/_Specs_.Azure.Core.Scalar.sln
  test/CadlRanchProjects/azure/core/scalar/src/Generated/AzureLocationScalar.cs
  test/CadlRanchProjects/azure/core/scalar/src/Generated/Configuration.json
  test/CadlRanchProjects/azure/core/scalar/src/Generated/Docs/AzureLocationScalar.xml
  test/CadlRanchProjects/azure/core/scalar/src/Generated/Internal/Argument.cs
  test/CadlRanchProjects/azure/core/scalar/src/Generated/Internal/ModelSerializationExtensions.cs
  test/CadlRanchProjects/azure/core/scalar/src/Generated/Internal/RequestContentHelper.cs
  test/CadlRanchProjects/azure/core/scalar/src/Generated/Internal/Utf8JsonRequestContent.cs
  test/CadlRanchProjects/azure/core/scalar/src/Generated/Models/AzureLocationModel.Serialization.cs
  test/CadlRanchProjects/azure/core/scalar/src/Generated/Models/AzureLocationModel.cs
  test/CadlRanchProjects/azure/core/scalar/src/Generated/ScalarClient.cs
  test/CadlRanchProjects/azure/core/scalar/src/Generated/ScalarClientOptions.cs
  test/CadlRanchProjects/azure/core/scalar/src/Generated/SpecsAzureCoreScalarClientBuilderExtensions.cs
  test/CadlRanchProjects/azure/core/scalar/src/Generated/tspCodeModel.json
  test/CadlRanchProjects/azure/core/scalar/src/Properties/AssemblyInfo.cs
  test/CadlRanchProjects/azure/core/scalar/src/_Specs_.Azure.Core.Scalar.csproj
  test/CadlRanchProjects/azure/core/scalar/tests/Generated/Samples/Samples_AzureLocationScalar.cs
  test/CadlRanchProjects/azure/core/scalar/tests/_Specs_.Azure.Core.Scalar.Tests.csproj
  test/UnbrandedProjects/Unbranded-TypeSpec/Generated/Configuration.json
  test/UnbrandedProjects/Unbranded-TypeSpec/Generated/tspCodeModel.json
Labels: DPG
