Repository Azure/autorest.csharp, changes with the owners that CODEOWNERS names for each.
All owners: @ShivangiReja, @chamons, @pakrym, @allenjzhang, @m-nash

CODEOWNERS:

*       @ShivangiReja @chamons @pakrym

# Management CSharp CodeReviewers
/samples/Azure.Management.Storage             @allenjzhang @m-nash
/samples/Azure.Network.Management.Interface   @allenjzhang @m-nash
/samples/Azure.ResourceManager.Sample         @allenjzhang @m-nash
/src/AutoRest.CSharp/Mgmt                     @allenjzhang @m-nash
/src/AutoRest.CSharp/Common                   @allenjzhang @m-nash
/test/AutoRest.TestServer.Tests/Mgmt          @allenjzhang @m-nash

update share source
  src/assets/Azure.Core.Shared/Multipart/MultipartContent.cs
Owners: @ShivangiReja, @chamons, @pakrym

update unit tests for ctor param detection
  test/AutoRest.TestServer.Tests/Mgmt/TestProjects/TestProjectTests.cs
Owners: @allenjzhang, @m-nash

[LLC} Add client team docs (#1234)
  docs/protocol_method_client.md
  docs/readme.md
Owners: @ShivangiReja, @chamons, @pakrym

[llc] Add "no auth" support
  src/AutoRest.CSharp/Common/Output/Models/RestClientBuilder.cs
  src/AutoRest.CSharp/LowLevel/Generation/LowLevelClientWriter.cs
  src/AutoRest.CSharp/LowLevel/Output/LowLevelRestClient.cs
Owners: @allenjzhang, @m-nash, @ShivangiReja, @chamons, @pakrym

Update Test
  src/AutoRest.CSharp/Mgmt/AutoRest/MgmtTarget.cs
  src/AutoRest.CSharp/Mgmt/Generation/ResourceOperationWriter.cs
  test/AutoRest.TestServer.Tests/Mgmt/TestProjects/TestProjectTests.cs
Owners: @allenjzhang, @m-nash
